.balloon {
    position: absolute;
    top: 30%;
    display: flex;
    align-items: center;
    margin: 0 5px 0 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #f3dfff;
    border-radius: 15px;
    min-height: 30px;
  }
  
  .balloon:after {
    content: "";
    position: absolute;
    top: 80%;
    right: -20px;
    margin-top: -15px;
    border: 5px solid transparent;
    border-left: 18px solid #f3dfff;
  }
  
  .balloon p {
    margin: 0;
    padding: 0;
  }

  .fadeinout{
    animation: fadeout 2s ease 0s forwards;
  }

  @keyframes fadeout {
    0% {
      opacity: 100;
    }
  
    50% {
      opacity: 50;
    }
  
    100% {
      opacity: 0;
    }
  }